html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.pesquisa{
  position:absolute;
  top: 20px ; left:0;
}

#mapa {
    height: 100vh;
}

.btnDeletar {
    margin: 0;
    padding: 0;
}

/*.modal.pergunta {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #fff;
    display: block;
    z-index: 111;
    transition: .2s
}

.modal.pergunta.sumiu {
  opacity: 0;
  pointer-events: none;
}*/
